@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.remove-button {
  @apply bg-red-500 text-black transition-colors duration-200 p-1 rounded-full;
}

.remove-button svg {
  @apply text-xl;
}

.add-button {
  @apply bg-green-500 text-white transition-colors duration-200 p-2 rounded-md;
}

.add-button svg {
  @apply text-xl;
}

@media (hover: hover) {
  .remove-button:hover {
    @apply bg-black text-red-500;
  }
  .add-button:hover {
    @apply bg-green-600;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
